{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Password Change{% endblock title %}

{% block content %}
<h1>Password change</h1>
<p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>
<form method="POST">{% csrf_token %}
    {{ form|crispy }}
    <input class="btn btn-success" type="submit" value="Change my password">
</form>
{% endblock content %}

check crispy forms and read book then see and find out what to how to edit, plus also think how to select random
user from users ,for winner(done) ,add /remove money (edit balance ) from edit accounts :edit it wisely to only edit
their own balance like the change password functionality.(done mashaAllah se) Like all articles added on homepage you can edit and
add accounts details which will go to account details and like edit article ,delete article ,you can edit your
account information.

Also add transaction database to add the transactions in admin db(done), edit age and email address and add more items like
bank info and even balance(think about it) in the user db(done mashaAllah se). also when winner is selected send them an email or
in app notification(like password reset one remeeber??) to tell them that they are the winner.

